@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600;700;900&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Rubik', sans-serif;
    background-color: #fff1e6;
    font-weight: 400;
}

/* -------------------------------- header ---------------------------- */

#header { padding: 1rem; }

.header {
    background-image: linear-gradient(-225deg, #473B7B 0%, #3584A7 51%, #30D2BE 100%);
    background-position: center;
    background-size: cover;
    height: 20vh;
}

.header .content {
    margin: auto;
    line-height: 1.5;
    text-align: center;
    letter-spacing: 10px;
    padding: 1rem 4rem;
    color: #f1faee;
    backface-visibility: hidden;
}

.content .main {
    font-size: 2.6rem;
    animation: moveRight 1s ease-out;
}

.content .under-heading {
    font-size: 2.1rem;
    animation: moveLeft 1s ease-out;
}

@keyframes moveRight {
    0%{
        opacity: 0;
        transform: translateX(-100px);
    }

    80% {
        transform: translateX(10px);
    }

    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes moveLeft {
    0%{
        opacity: 0;
        transform: translateX(100px);
    }

    80% {
        transform: translateX(-10px);
    }

    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

/* -------------------------- navigation bar ------------------------ */

.sidebar {
    position: fixed;
    width: 340px;
    left: -340px;
    height: 100%;
    background-image: linear-gradient(-225deg, #473B7B 0%, #3584A7 51%, #30D2BE 100%);
    border-right: black 1px solid;
    transition: all .5s ease;
    z-index: 1000;
}

.sidebar header {
    font-size: 2rem;
    font-weight: 600;
    color: #1371a5;
    line-height: 70px;
    text-align: center;
    background: #caf0f8;
    border-bottom: 1px solid black;
    user-select: none;
}

.sidebar a {
    display: block;
    height: 65px;
    width: 100%;
    color: #caf0f8;
    line-height: 65px;
    padding-left: 30px;
    box-sizing: border-box;
    text-decoration: none;
    border-bottom: 1px solid black;
    border-top: 1px solid rgba(255, 255, 255, .1);
    background-image: linear-gradient(120deg, transparent 0%, transparent 50%, #caf0f8 50%);
    background-size: 220%;
    transition: all .5s ease;
}

a:hover {
    background-position: 100%;
    color: #03055e;
}

.sidebar a span {
    letter-spacing: 1px;
    text-transform: uppercase;
}

#check { display: none; }

.check-lines {
    z-index: 2000;
    position: absolute;
}

label #btn,label #cancel {
    position: fixed;
    cursor: pointer;
    color: #caf0f8;
    border-radius: 5px;
    margin: 30px 30px;
    font-size: 29px;
    background-color: #8a8585;
    height: 45px;
    width: 45px;
    text-align: center;
    line-height: 45px;
    transition: all .5s ease;
}

label #cancel {
    opacity: 0;
    visibility: hidden;
}

#check:checked ~ .sidebar {
    left: 0;
}

#check:checked ~ label #btn {
    margin-left: 345px;
    opacity: 0;
    visibility: hidden;
}

#check:checked ~ label #cancel {
    margin-left: 345px;
    opacity: 1;
    visibility: visible;
}

/* ------------- day - wise ------------ */

.day-wise {
    margin: 2rem auto;
    display: flex;
    flex-direction: column;
}

.day-wise h2 {
    font-size: 2.3rem;
    color: #335c67;
    text-align: center;
    font-weight: 600;
}

.day-wise label {
    font-size: 1.5rem;
    color: #335c67;
    text-align: center;
    padding: 1.2rem 0rem;
}

.day-wise input {
    height: 30px;
    margin: auto;
    padding: 1rem;
    color: #5f0f40;
    background-color: #cfcbcb;
    border-radius: 10px;
    border: none;
    outline: none;
}

.outer-day-box {
    background-color: #c6cadb;
    width: 500px;
    margin: 2rem auto;
    border-radius: 10px;
    padding: 2rem;
    display: flex;
    flex-direction: column;
}

.outer-day-box img {
    align-self: center;
    padding-bottom: 2rem;
}

.day-box {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 2rem;
}

.content-format {
    color: #5f0f40;
    font-size: 1.4rem;
    display: grid;
    grid-gap: 1rem;
}

.data-content span {
    font-size: 1.5rem;
    font-weight: 600;
    text-align: right;
}

.error {
    background-color: #B74B60;
    padding: 1rem 1rem;
    width: 500px;
    border-radius: 10px;
    color: #caf0f8;
    margin: auto;
}

/* ------------------------------ footer ------------------------ */

#footer {
    width: 100%;
    background-image: linear-gradient(-225deg, #473B7B 0%, #3584A7 51%, #30D2BE 100%);
    color: #caf0f8;
    font-size: 1rem;
    font-weight: 600;
    padding: 1rem 0rem;
    margin-top: 2rem;
    text-align: center;
    line-height: 2rem;
}

.other-content span { color: #B74B60; }

.social-icons i {
    padding-right: 0.5rem;
    color: #caf0f8; 
    transition: all 0.2s ease-in-out;   
}

.other-content .credit a{
    text-decoration: none;
    color: #03055e;
}

.social-icons i:hover, .other-content .credit a:hover { color: #B74B60; }